@use "src/variables" as var;
.home {
  background-color: var.$base_bg;
  padding-bottom: 150px;
  &__new-card {
    width: 350px;
    height: 150px;
    background: linear-gradient(
      170deg,
      rgba(176, 30, 180, 0.6951155462184874) 45%,
      rgba(0, 198, 255, 0.38699229691876746) 100%
    );
    box-shadow: 5px 10px 20px 0px #00000040;
    border-radius: var.$border_10px;
    margin: 100px auto;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__add-btn {
      border-radius: 50%;
      background-color: var.$white;
      color: var.$base_color;
      border: none;
      width: 60px;
      height: 60px;
      font-size: 40px;
      &:hover {
        cursor: pointer;
      }
    }
    &__title {
      color: var.$white;
      font-size: 30px;
    }
  }
}
