@use "src/variables" as var;
@use "src/colors" as color;

.home {
  background-color: color.$base_bg;
  &__new-card {
    width: 350px;
    height: 150px;
    background: linear-gradient(
      170deg,
      color.$home__new-card-bg1 45%,
      color.$home__new-card-bg2 100%
    );
    box-shadow: 5px 10px 20px 0px color.$home__new-card-box;
    border-radius: var.$border_10px;
    margin: 100px auto;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__add-btn {
      border-radius: 50%;
      background-color: color.$light;
      color: color.$base_color;
      border: none;
      width: 60px;
      height: 60px;
      font-size: 40px;
    }
    &__title {
      color: color.$light;
      font-size: 30px;
    }
  }
  &__hide {
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color.$transaction__bg;
  }
  &__new-account-sidebar {
    width: 350px;
    padding: 30px;
  }
  &__button-row {
    height: auto;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__cancel-btn {
    margin-right: 15px;
  }
  &__accounts-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  &__account {
    width: 430px;
    height: 185px;
    padding: 23px;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 10px 20px 0px color.$home__new-card-box;
    background: linear-gradient(
      170deg,
      color.$home__new-card-bg1 45%,
      color.$home__new-card-bg2 100%
    );
    color: color.$transaction__bg;
    text-decoration: none;
    margin-bottom: 20px;
    margin-right: 20px;

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 41px;
    }
    &-currency {
      width: 60px;
      height: 60px;
      background-color: color.$light;
      color: color.$base_color;
      border-radius: 50%;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 55px;
      text-align: center;
      position: absolute;
      right: 23px;
      top: 23px;
    }
    &-balance {
      font-style: normal;
      font-weight: 400;
      font-size: 53px;
      line-height: 68px;
    }
    &-cards {
      padding: 30px;
      &-title {
        text-align: center;
        font-size: 50px;
      }
    }
    &-btns {
      display: flex;
      justify-content: end;
    }
    &-btn {
      font-size: 30px;
      border: none;
    }
    &-delete-btn {
      margin-right: 10px;
    }
  }
}
.example-full-width {
  width: 100%;
}
