// global colors
$dark: #000000;
$light: #fff;
$base_color: #d376d7;
$base_bg: whitesmoke;
// auth-form colors
$auth__row-border: #333333;
$auth__form-bg: rgba(255, 255, 255, 0.8);
$auth__btn: #b9e2e6;
$auth__error-message: red;
// home colors
$home__new-card-bg1: rgba(220, 130, 223, 0.979);
$home__new-card-bg2: rgba(0, 198, 255, 0.38699229691876746);
$home__new-card-box: #00000040;
// transactions
$transaction__bg: #eceded;
$transaction__income-amount: #21c206;
$transaction__expense-amount: rgb(255, 25, 25);
// dialogs
$dialog__green-snackbar: #1aa103;
