// global colors
$dark: #000000;
$light: #fff;
$base_color: #d376d7;
$base_bg: whitesmoke;
// auth-form colors
$auth__row-border: #333333;
$auth__form-bg: rgba(255, 255, 255, 0.8);
$auth__btn: #b9e2e6;
$auth__error-message: red;
// home colors
$home__new-card-bg1: rgba(176, 30, 180, 0.6951155462184874);
$home__new-card-bg2: rgba(0, 198, 255, 0.38699229691876746);
$home__new-card-box: #00000040;
